[submodule ".claude"]
	path = .claude
	url = https://github.com/simpleglobal/.claude-executive.git
[submodule ".simplemotion"]
	path = .simplemotion
	url = https://github.com/simplemotion/.simplemotion.git
