{{ define "main" }}
<section class="page-hero">
  <div class="section-container">
    <div class="page-heading">
      <a href="/" class="page-heading-logo"><img src="/img/sm-black-background-logo-circle.svg?v={{ now.Unix }}" alt="SimpleGlobal"></a>
      <h1>{{ .Title }}</h1>
    </div>
    {{ with .Params.subtitle }}<p class="page-subtitle">{{ . }}</p>{{ end }}
  </div>
</section>
<section class="page-content">
  <div class="content-container">
    {{ .Content }}
  </div>
</section>
{{ end }}
